: <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Pausa</title>
</head>
<body>
    <h1>Resultado de la Operación</h1>
    
    <p>Folio: {{ resultado.id }}</p>
    <p>{{ resultado.fecha }}</p>
    <p>Título: {{ resultado.titulo }}</p>
    <p>ID Publicación: {{ resultado.id_pub_meli }}</p>
    <p>ID Producto: {{ resultado.id_producto }}</p>
    <p>Estado: {{ resultado.status_meli }}</p>
    <p>Motivo: {{ resultado.motivo }}</p>


</body>
</html>