<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
</head>
    {% include 'apartado/navbar.html' %}
    <br>
    <br>
<body>
    <h1><center>DETALLE PRODUCTOS SYSCOM</center></h1>
    <br>
    <br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><center>ORDEN</center></th>
                <th><center>ID SYSCOM</center></th>
                <th><center>PRODUCTO</center></th>
                <th><center>STOCK</center></th>
                <th><center>INV. MINIMO</center></th>
                <th><center>STATUS</center></th>
                <th><center>PRECIO AYER</center></th>
                <th><center>PRECIO HOY</center></th>
                <th><center>DIFERENCIA</center></th>
                <th><center>IVA (USD)</center></th>
                <th><center>TOTAL (USD)</center></th>
                <th><center>COSTO (MXN)</center></th>
                <th><center>TOT VENTA (MXN)</center></th>
                <th><center>UTILIDAD (MXN)</center></th>
                <th><center>ESTADO MELI</center></th>

            </tr>
        </thead>
        <tbody>
            {% for row in datos %}
            <tr>
                <td><center>{{ row.orden }}</center></td>
                <td><center>{{ row.id_syscom }}</center></td>
                <td>{{ row.titulo }}</td>
                <td><center>{{ row.stock }}</center></td>
                <td><center>{{ row.inv_min }}</center></td>
                <td>
                    <center>
                        {% if row.status == 1 %}
                            <b><font color="green">ACTIVO</font></b>
                        {% elseif row.status == 0 %}
                            <b><font color="red">PAUSA</font></b>
                        {% else %}
                            Desconocido
                        {% endif %}
                    </center>
                </td>
                <td><center>{{ row.precio_anterior }}</center></td>
                <td><center>{{ row.precio_hoy }}</center></td>
                <td><center>
                    {% if row.precio_difference < 0 %}
                        <b><font color="green">{{ row.precio_difference }}</font></b>
                    {% elseif row.precio_difference > 0 %}
                        <b><font color="red">+{{ row.precio_difference }}</font></b>
                    {% else %}
                        <b><font>S/C</font></b>
                    {% endif %}
                </center></td>

                <td><center>{{ row.precio_iva }}</center></td>
                <td><center>{{ row.precio_hoy }}</center></td>
                <td><center>{{ row.costo_total_mxn}}</center></td>
                <td><center>{{ row.mxn_tot_venta}}</center></td>
                <td><center>{{ row.utilidad_round}}</center></td>

                <td><center>
                    {% if row.estado_meli == 1 %}
                        <b><font color="green">ACTIVO</font></b>
                    {% elseif row.estado_meli == 0 %}
                        <b><font color="red">PAUSA</font></b>
                    {% else %}
                        S/N PUBLI. MELI
                    {% endif %}
                    </center></td>

            </tr>
            {% endfor %}
            <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        </tbody>
    </table>    
    
</body>
</html>